body {
  background-color: #F6F6F6;
  color: #333333;
  font-family: 'Muli', Sans-Serif;
  font-size: 16px;
}

h1 {
  font-family: 'Merriweather', Serif;
  font-size: 46px;
}


background color = #F6F6F6

silver = #E8E8E8

black = #333333

dark red = #990100

light red = #B90504
